<div class="col-xl-5 col-lg-6 col-md-7 col-sm-10 card" style="padding:0; margin: 10px 0 8px 0; text-align: center;">
    <table class="table" style="padding:0;">
        <tr>
            <td colspan="7" style="border:none; text-align:center; padding:15px 0 5px 0; font-weight:bold; color: #605c65; margin-top:20px;">
                매치 리뷰
            </td>
        </tr>
        <tr>
            <td style="border:none; text-align:right; width:100px; vertical-align:middle; padding:0 5px 0 0; font-size:15px; font-weight:bold; color:#545454;">
                {{ after.home_team }}
            </td>
            <td style="border:none; padding:0; width:45px;"><img src="{{ after.home_team.team.photo.url }}" style="text-align:right; width:45px;"></td>
            <td style="border:none; {% if after.result == 'win' %}color:#ba1626;{% endif %} vertical-align:middle; font-size:16px; width:20px;">{{ after.home_score }}</td>
            <td style="border:none; vertical-align:middle; font-size:18px; padding:0; text-align:center; color:#747474; width:10px;">:</td>
            <td style="border:none; {% if after.result == 'lose' %}color:#ba1626;{% endif %} vertical-align:middle; font-size:16px; width:20px;">{{ after.away_score }}</td>
            <td style="border:none; padding:0; width:45px;"><img src="{{ after.away_team.team.photo.url }}" style="text-align:left; width:45px;"></td>
            <td style="border:none; text-align:left; width:100px; vertical-align:middle; padding:0 0 0 5px; font-size:15px; font-weight:bold; color:#545454;">
                {{ after.away_team }}
            </td>
        </tr>
        <tr>
            <td colspan="7" style="border:none; text-align:center; padding:2px 0 0 0; font-size:13px; color:#777777;">
                {{ after.home_team.team.stadium }}
            </td>
        </tr>
        <tr>
            <td colspan="7" style="border:none; text-align:center; padding:0; font-weight:bold; font-size:13px; color:#2d2d2d;">
                {{ after.set_round }}
            </td>
        </tr>
        <tr>
            <td colspan="7" style="border:none; text-align:center; padding:0; font-size:13px; color:#777777;">
                {{ after.match_date|date:'m월d일 h:i' }}
            </td>
        </tr>
    </table>
</div>