<div style="text-align:center;">
    <div style="font-weight:bold; color: #49464d;">리뷰할 선수</div>
    <div class="card" style=" text-align:center; margin:5px 0 8px 0; width:150px; height:180px;">
        <div class="card-block">
            <img src="{{ player.name.photo.url }}">
            <p style="padding-top:5px; font-size:14px;">{{ player.back_number }}. {{ player.name }}<br>({{ player.position }})</p>
        </div>
    </div>
</div>