<div class="row none" style="margin: 0 30px 0 8px;">
    <div class="col-md-5" style="padding-left:30px;">
        <div class="row" style="width:340px; height:630px;">
            <div class="col-md-12">
                <div class="card card-inverse">
                    <img class="card-img" style="width: 340px; height: 540px;" src="http://127.0.0.1:8000/media/data/football/strategy/soccer_field.jpg">
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row" style="position:absolute; left:20px; top:0; width: 420px; height:540px; text-align:center;">
            <div class="col-md-12 card choice_player_panel">
            </div>
        </div>
    </div>
</div>