{% extends 'base.jinja' %}
{% load widget_tweaks %}
{% block content %}
    <div class="container">
        <div class="row" style="border-bottom:1px solid #d5d5d5;">
            <div class="col-md-3" style="margin: 50px 0 10px 80px;">
                <a style="font-size: 25px; font-weight: bold;">경기 후 리뷰 수정</a>
            </div>
        </div>
        <div class="row" style="margin-top:40px;">
            <div class="col-md-2" style="font-size:14px; font-weight:bold; color: #4a4a4a; text-align:right; margin: 75px 10px 0 0;">
                <a>매치</a>
            </div>
            <div class="col-md-8" style="padding:0;">
                {# 경기 후 리뷰 페이지 일 경우 #}
                {% include 'function/strategy/match_review.jinja' with game='after' after=match %}
            </div>
        </div>
        {# 입력 폼 #}
        <form action="" method="post">
            {% csrf_token %}
            {# input value를 정리 해둔 곳-바로 post로 정보 날라감 #}
            <div class="row" style="margin-top:30px;">
                <div class="col-md-2" style="font-size:14px; font-weight:bold; color: #4a4a4a; text-align:right; padding-top:7px; margin-right:10px;">
                    제목
                </div>
                <div class="col-md-8" style="padding:0;">
                    {{ forms.title }}
                </div>
            </div>
            <div class="row" style="margin-top:30px;">
                <div class="col-md-2" style="font-size:14px; font-weight:bold; color: #4a4a4a; text-align:right; padding-top:7px; margin-right:10px;">
                    TAG
                </div>
                <div class="col-md-8" style="padding:0;">
                    <input class="form-control" type="text" value="{% if tag %}{{ tag }}{% endif %}" id="tags_id" name="tags" style='width:600px; font-size:14px; height:36px; color:#4a4a4a;'>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 offset-md-2" style="font-size:12px; padding:3px 0 0 10px; color: grey;">
                    복수의 tag를 입력하기 위해서는 단어 사이에 , 를 찍어 주세요
                </div>
            </div>
                <div class="row justify-content-center">
                    <div class="card" style="width:850px; margin-top: 30px; padding:20px 0 30px 35px;">
                        <h5 class="card-title" style="margin:32px 0 40px 0;">
                            <a style="font-size:20px; color:#4b4b4b; font-weight:bold; margin-left: 30px;">평점 남기기</a><br>
                            <a style="font-size:13px; color: grey; margin-left:30px;">평점과 더불어 각각의 선수 리뷰를 짧게나마 작성해주셔야 입력이 완료됩니다.</a>
                        </h5>
                        <div class="str4-2-3-1">
                            <div class="row">
                                <div class="col-md-12" style="margin-bottom:15px; font-size:15px; font-weight:bold; text-align:center; color:#545454;">
                                    경기 라인업
                                </div>
                            </div>
                            <div class="row justify-content-center" style="height:680px; padding:0; margin:0;">
                                <div class="col-md-6" style="position:absolute; left:255px; top: 170px; margin:0 0 30px 0; width:340px; height:630px;">
                                    {# strategy-전술, player-선수, result-평점 결과를 뿌릴 건지 여부 is_value-후보 선수들이 나올 건지 여부 #}
                                    {% include 'function/strategy/strategy.jinja' with strategy=team.match.set_strategy player1=players.0.player player2=players.1.player player3=players.2.player player4=players.3.player player5=players.4.player player6=players.5.player player7=players.6.player player8=players.7.player player9=players.8.player player10=players.9.player player11=players.10.player player12=players.11.player player13=players.12.player player14=players.13.player result=False is_value=True %}
                                </div>
                            </div>
                        </div>
                        <div class="card-text">
                            <div class="col-md-12" style="margin: 0 0 15px 11px;">
                                <a style="font-size:15px; color:#ce1000;">팀 평점 남기기</a><br>
                            </div>
                            <div class="col-md-12" style="font-size:14px; color:grey; margin: 0 0 3px 12px;">
                                한번 입력 한 경기 평점은 수정 할 수 없습니다.
                            </div>
                            <div class="col-md-12" style="width: 750px; margin:5px 14px 20px 14px;">
                                <input class="col-md-12 form-control" name="team_point" style="font-size:14px; height:36px; color:#4a4a4a;" value="{{ team.point }}" readonly>
                            </div>
                            <div class="col-md-12" style="font-size:14px; color:grey; margin: 0 0 5px 10px;">
                                전체적인 리뷰 내용을 작성해주시면 됩니다.
                            </div>
                            <div class="col-md-12" style="width:780px; margin: 0 0 0 14px;">
                                {{ forms.body }}
                            </div>

                            <div class="col-md-12" style="margin: 0 0 15px 11px; font-size:15px; color:#CE1000;">
                                선발 선수 평점 남기기
                            </div>

                            {% for player in players %}
                                {% if player.player %}
                                    <input type="hidden" name="player{{ forloop.counter }}" value="{{ player.id }}">
                                    <div class="media player-calculate-bottom-margin">
                                        <a class="media-left">
                                            <img class="rounded player-calculate-pic" src="{{ player.player.name.photo.url }}">
                                            <div class="player-calculate-pic-name">{{ player.player.name }}</div>
                                            {% if forloop.counter >= 12 %}<div style="text-align:center; margin-left:30px; font-size:12px;">(교체)</div>{% endif %}
                                        </a>
                                        <div class="media-body">
                                            <div class="col-md-12" style="font-size:14px; color:grey;">한번 입력 한 선수 평점은 수정 할 수 없습니다.</div>
                                            <input class="col-md-12 form-control" name="player{{ forloop.counter }}_point" style="margin:5px 0 5px 16px; width:612px; font-size:14px; height:36px; color:#4a4a4a;" value="{{ player.point }}" readonly>
                                            <textarea class="col-md-12 form-control" name="player{{ forloop.counter }}_review" placeholder="간단하게라도 선수 평을 남겨 주셔야 합니다." style="margin-left:16px; width:612px; font-size:14px; height:130px; color:#4a4a4a;" value="">{{ player.review }}</textarea>
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="media player-calculate-bottom-margin">
                                        <a class="media-left">
                                            <img class="rounded player-calculate-pic" src="http://127.0.0.1:8000/media/default/default.png"><br>
                                            <div class="player-calculate-pic-name" style="font-weight:normal;">교체 없음</div>
                                        </a>
                                        <div class="media-body">
                                            <div class="col-md-12 player-calculate-title" style="">선수의 경기 평점을 남겨주세요</div>
                                            <input class="form-control" type="text" style="height:100px; width:612px; margin:5px 0 0 16px;" readonly>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-2" style="margin:20px 0 120px 0;">
                        <a class="btn summer_note" id="change-after-btn" type="submit" style="cursor:pointer; padding-top:12px; font-weight:bold; width:90px; height:42px; border:1px solid #2d2d2d; color:white; font-size:13px; background-color:#2d2d2d;">수 정</a>
                        {# write free board modal #}
                        <div class="modal" id="change-after-modal" tabindex="-1" role="dialog" style="top:30%;">
                            <div class="modal-dialog" role="document" style="width:400px;">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <div style="font-size:15px; color:#2d2d2d; font-weight:bold;">알림창</div>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body" style="padding-top:10px; padding-left:15px;">
                                        <div class="row">
                                            <div class="col-md-12" style="text-align:left; margin-bottom:5px; font-size:14px; color:#2d2d2d;">
                                                현재 경기 후 리뷰를 수정하시겠습니까?<br><br>
                                                <a style="font-size:12px; color:#ba1626;">경기 후 리뷰의 팀과 선수의 평점은 수정을 하실 수 없습니다.</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <a href="" class="btn btn-secondary" style="font-size:12px; width:80px; color:#2d2d2d; height:34px;" data-dismiss="modal">닫 기</a>
                                        <input type="submit" href="" class="btn btn-secondary" style="cursor:pointer; border:1px solid #2d2d2d; background-color:#2d2d2d; color:white; font-size:12px; width:80px; height:34px;" value="수 정">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
{% endblock %}
{% block domready %}
    <script>
        $(document).ready(function(){
            $('#change-after-btn').on('click', function(e){
                e.preventDefault();
                $('#change-after-modal').modal({
                    show:true,
                    backdrop:'static',
                    keyboard:false
                })
            })
        })
    </script>

{% endblock domready %}