{# 신고 창 #}
<div class="modal" id="charge-modal" style="top:300px;" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document" style="width:500px;">
        <div class="modal-content">
            <form action="" method="post">
                {% csrf_token %}
                <input id="all-charge-sort" type="hidden" name="sort" value="">
                <input id="all-charge-to" type="hidden" name="charge_to" value="">
                <div class="modal-body">
                    <div style="font-size:14px; font-weight:bold; color:#676767;">
                        신고 대상 :
                    </div>
                    <div id="charge-modal-title" style="margin:0 0 10px 10px; color:#2d2d2d; font-size:15px; font-weight:bold;">안녕하세요 ㅎㅎㅎㅎㅎㅎㅎ</div>
                    <div style="font-size:14px; font-weight:bold; color:#676767;">
                        신고 이유 :
                    </div>
                    <select class="form-control" id="all-charge-reason" name="charge_reason" style="margin-bottom:10px; font-size:13px; color:#505050; height:36px;">
                        <option value="0">욕설, 비방, 반말</option>
                        <option value="1">지역 비하 발언</option>
                        <option value="2">일베</option>
                        <option value="9">기타</option>
                    </select>
                    <div id="etc-charge-reason" style="margin-bottom:10px;">
                        <input type="hidden" id="user-charge-reason" name="charge_reason" value="9">
                        <input class="form-control" type="text" value="기타" style="font-size:13px; height:34px; color:#404040;" readonly>
                    </div>
                    <div style="font-size:14px; font-weight:bold; color:#676767;">
                        신고 상세 내용 :
                    </div>
                    <div>
                        <textarea class="form-control" id="charge-content" type="text" name="content" value="" placeholder="신고 내용은 최소 10글자 이상 입력을 하셔야 합니다. 유저 창에서의 신고는 기타만 가능하며 다른 신고 이유를 원하실 경우 해당 메세지나 게시글에서 직접 신고를 해주시기 바랍니다." style="font-size:13px; color:#505050; height:150px;"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="" class="btn btn-secondary" style="font-size:12px; width:80px; height:34px;" data-dismiss="modal">닫기</a>
                    <a class="btn" id="all-charge-submit" data-dismiss="modal" style="cursor:pointer; font-size:12px; height:34px; background-color:#2d2d2d; color:white;">신 고</a>
                </div>
            </form>
        </div>
    </div>
</div>

{# 답장 modal #}
<div class="modal" id="profile-message-modal" tabindex="-1" role="dialog" style="top:300px;">
    <div class="modal-dialog" role="document" style="width:600px;">
        <div class="modal-content">
            <div class="modal-header">
                <div style="font-size:15px; color:#2d2d2d; font-weight:bold;">쪽지 보내기</div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="" method="post" onkeydown="if(event.keyCode == 13) return false;">
                {% csrf_token %}
                <div class="modal-body" style="padding-top:5px; padding-left:15px;">
                    <div class="row">
                        <div class="col-md-12">
                            <label for="message-take-user" style="font-size:13px; color:#2d2d2d;">받는 사람</label>
                            <input class="form-control" id="message-take-user" name="take_user" type="text" value="" style="font-size:13px; color:grey;" readonly>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label for="take-user-message" style="font-size:13px; color:#2d2d2d; margin-top:10px;">메세지</label>
                            <textarea class="form-control" id="take-user-message" cols="25" name="message" value="" placeholder="쪽지는 10자 이상 작성을 하셔야 합니다." style="font-size:13px; height:200px;"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="" class="btn btn-secondary" style="font-size:12px; width:80px; color:#2d2d2d; height:34px;" data-dismiss="modal">닫기</a>
                    <a class="btn" id="message-submit" data-dismiss="modal" style="cursor:pointer; border:1px solid #2d2d2d; background-color:#2d2d2d; color:white; font-size:12px; width:80px; height:34px;">전 송</a>
                </div>
            </form>
        </div>
    </div>
</div>