{% extends 'league/side_menu/league_side_menu.jinja' %}
{% load custom_tags %}
{% block league_title %}
    <div class="col-md-12" style="text-align:center;font-size:23px; font-weight:bold; color:#2d2d2d;">
        경기 평점 보기
        <a class="btn" href="{% url 'arsenal:match' %}" style="position:absolute; left:0; top:10px; border:1px solid #ddd; color:#2d2d2d; font-size:11px; height:30px;">달력으로</a>
        {% if game.footballbaord_before_game.all %}
            <a class="btn" href="{% url 'board_free:review_list_sort' value="7" game=game.id %}" style="position:absolute; left:506px; top:10px; background-color:#2d2d2d; font-size:11px; width:102px; height:30px; text-align:center; padding:8px 2px 0 2px; color:white;">경기 전 리뷰 보기</a>
        {% endif %}
        {% if game.footballboard_after_game.all %}
            <a class="btn" href="{% url 'board_free:review_list_sort' value="6" game=game.id %}" style="position:absolute; left:613px; top:10px;background-color:#2d2d2d; font-size:11px; width:102px; height:30px; text-align:center; padding:8px 2px 0 2px; color:white;">경기 후 리뷰 보기</a>
        {% endif %}
    </div>
{% endblock league_title %}
{% block league_team_ranking %}
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="row" style="width:300px; height:200px; margin:20px 10px 0 10px;">
                <div class="col-md-12 card" style="background-color:#ba1626;">
                    <div class="row">
                        <div class="col-md-12" style="text-align:center;">
                            <div style="text-align:right;">
                                <a style="position:absolute; width:160px; right:100px; top:30px; font-size:17px; font-weight:bold; {% if game.result == "win" %}color:white;{% elif game.result == "lose" %}color:#ec8f91;{% else %}color:white;{% endif %}">{{ game.home_team }}</a>
                                <img class="rounded-circle" src="{{ game.home_team.team.photo.url }}" style="position:absolute; right:40px; top:20px; width:50px;">
                            </div>
                            <div style="font-size:19px; color:white; padding-top:56px;">
                                <a style="{% if game.result == "win" %}color:white;{% else %}color:#ec8f91;{% endif %}">{{ game.home_score }}</a>
                                <a style="position:relative; top:-2px;">:</a>
                                <a style="{% if game.result == "lose" %}color:white;{% else %}color:#ec8f91;{% endif %}">{{ game.away_score }}</a>
                            </div>
                            <div style="text-align:left;">
                                <img class="rounded-circle" src="{{ game.away_team.team.photo.url }}" style="position:absolute; left:40px; top:72px; width:50px;">
                                <a style="position:absolute; width:160px; left:100px; top:82px; font-size:17px; font-weight:bold; {% if game.result == "lose" %}color:white;{% elif game.result == "win" %}color:#ec8f91;{% else %}color:white;{% endif %}">{{ game.away_team }}</a>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="text-align:center;">
                        <div class="col-md-12" style="font-size:14px; color:white; padding-top:32px;">
                            <a>{{ game.set_round }}</a><br>
                            <a>{{ game.match_date|date:'m.d H:i' }}</a><br>
                            <a>{{ game.home_team.team.stadium }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-11" style="text-align:center; padding-top:10px; padding-bottom:10px; font-size:16px;">
            총 <a style="color:#ba1626; font-weight:bold;">{{ source.3 }}</a> 명의 <a style="color:#ba1626; font-weight:bold;">Gooner</a>가 평점을 남기셨습니다.
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-3" style="text-align:center; height:120px;">
            <img class="rounded-circle" src="{{ arsenal.photo.url }}" style="width:60px; border:2px solid #ba1626;"><br>
            <div style="font-size:12px; font-weight:bold; color:#2d2d2d;">
                Arsenal
            </div>
            <div style="font-size:12px; color:#ba1626;">
                {{ source.0 }}
            </div>
        </div>
        <div class="col-md-3" style="text-align:center; height:120px;">
            <img class="rounded-circle" src="{{ source.1.0.name.photo.url }}" style="border:2px solid #ba1626; width:60px;"><br>
            <div style="font-size:12px; font-weight:bold; color:#2d2d2d;">{{ source.1.0.name }}
                {% if source.1.0 == game.player12 or source.1.0 == game.player13 or source.1.0 == game.player14 %}
                    <a style="font-size:11px; font-weight:normal; color:#ba1626;">(교체)</a>
                {% endif %}
            </div>
            <div style="font-size:12px; color:#ba1626; margin-top:0; padding-top:0;">
                {{ source.1.1 }}
            </div>
            <a style="position:absolute; left:60px; top:95px; font-weight:bold; text-align:center; font-size:11px; color:#ba1626;">Best Player</a>
        </div>
        <div class="col-md-3" style="text-align:center; height:120px;">
            <img class="rounded-circle" src="{{ source.2.0.name.photo.url }}" style="border:2px solid #254fbc; width:60px;"><br>
            <div style="font-size:12px; font-weight:bold; color:#2d2d2d;">{{ source.2.0.name }}
                {% if source.2.0 == game.player12 or source.2.0 == game.player13 or source.2.0 == game.player14 %}
                    <a style="font-size:11px; font-weight:normal; color:#ba1626;">(교체)</a>
                {% endif %}
            </div>
            <div style="font-size:12px; color:#254fbc; margin-top:0; padding-top:0;">
                {{ source.2.1 }}
            </div>
            <a style="position:absolute; left:56px; top:95px; font-weight:bold; text-align:center; font-size:11px; color:#254fbc;">Worst Player</a>

        </div>
    </div>
    <div class="row">
        {% for player in by_all %}
            <div class="col-md-3" style="text-align:center; height:100px;">
                <img class="rounded-circle" src="{{ player.0.name.photo.url }}" style="border:2px solid #2d2d2d; width:60px;"><br>
                <div style="font-size:12px; font-weight:bold; color:#2d2d2d;">{{ player.0.name }}
                    {% if player.0 == game.player12 or player.0 == game.player13 or player.0 == game.player14 %}
                        <a style="font-size:11px; font-weight:normal; color:#ba1626;">(교체)</a>
                    {% endif %}
                </div>
                <div style="font-size:12px; color:#ba1626; margin-top:0; padding-top:0;">
                    {{ player.1 }}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock league_team_ranking %}