{# 신고자 상세 보기 #}
<div class="modal" id="modal-charge-from{{ forloop.counter }}" tabindex="-1" role="dialog" style="top:200px;">
    <div class="modal-dialog" role="document" style="width:500px;">
        <div class="modal-content">
            <div class="modal-header">
                <div id="charge-modal-title" style="font-size:15px;  font-weight:bold;">상세 내용 보기</div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="text-align:left; font-size:13px;">
                <div>
                    <a style="font-weight:bold">{{ charge.charge_from }}</a> | <a style="font-size:12px; color:#4f4f4f;">{{ charge.set_charge_reason }}</a>
                     | <a style="font-size:12px; color:#4f4f4f;">{{ charge.charge_date|date:'y.m.d [H:i]' }}</a>
                </div>
                <div style="{% if charge.charge_set.all %}border-bottom:1px solid #ddd; padding-bottom:16px;{% endif %} margin-left:5px; margin-bottom:8px;">
                    {{ charge.content }}
                </div>
                {% for content in charge.charge_set.all %}
                    <div>
                        <a style="font-weight:bold">{{ content.charge_from }}</a> | <a style="font-size:12px; color:#4f4f4f;">{{ content.set_charge_reason }}</a>
                         | <a style="font-size:12px; color:#4f4f4f;">{{ content.charge_date|date:'y.m.d [H:i]' }}</a>
                    </div>
                    <div style="{% if not forloop.last %}border-bottom:1px solid #ddd; padding-bottom:16px;{% endif %} margin-left:5px; margin-bottom:8px;">
                        {{ content.content }}
                    </div>
                {% endfor %}
            </div>
            <div class="modal-footer">
                <a href="" class="btn btn-secondary" style="font-size:12px; width:80px; height:34px;" data-dismiss="modal">Close</a>
            </div>
        </div>
    </div>
</div>