<div class="card review-card" style="height:100%;">
    <div class="card-header" style="width:100%; border:1px solid #e27c76; background-color:white; height:125px;">
        <table class="table" style="margin-top:10px;">
            <tr>
                <td rowspan="2" style="border:none; text-align:right; vertical-align:middle; width:50px; padding:0; margin:0;">
                    <img src="{{ game.home_team.team.photo.url }}" style=" width:50px;">
                </td>
                <td style="border:none; text-align:center; font-size:11px; vertical-align:bottom; width:50px; padding:0; margin:0;">
                    {{ game.match_date|date:'n월 j일' }}
                </td>
                <td rowspan="2" style="border:none; text-align:left; vertical-align:middle; width:50px; padding:0; margin:0;">
                    <img src="{{ game.away_team.team.photo.url }}" style="width:50px;">
                </td>
            </tr>
            <tr>
                <td style="border:none; text-align:center; font-size:11px; vertical-align:top; width:20px; padding:0; margin:0;">
                    {{ game.match_date|date:"H:i" }}
                </td>
            </tr>
            <tr>
                <td colspan="5" style="font-size:11px; border:none; text-align:center; color:#ba1626; padding:0; margin:0;">
                    {{ game.set_round }}
                </td>
            </tr>
            <tr>
                <td colspan="5" style="font-size:11px; border:none; text-align:center; color:#2d2d2d; padding:0; margin:0;">
                    {{ game.home_team.team.stadium }}
                </td>
            </tr>
        </table>
    </div>
    <div class="card-title" style="padding-top:10px;">
        <div class="row justify-content-center">
            <div class="col-sm-11 col-11">
                <span class="badge" style="float:left; font-weight:normal; color:#f3fdf8; font-size:11px; background-color:#ba1626;">경기 전 리뷰</span>
                <a class="badge" href="{% url 'board_free:review_list' value="before" %}?id={{ review.before_game_review.id }}" style="float:right; font-size:11px; color:#a8a8a8; font-weight:normal;">경기 정렬</a>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-sm-11 col-11" style="height:55px;">
                {% if review.is_active == False %}
                    <a href="" style="font-size:14px; color:#A4A4A4;">관리자에 의해 삭제된 게시물 입니다.</a>
                {% else %}
                    <a href="{% url 'board_free:detail' id=review.id slug=review.slug %}" style="font-size:14px; font-weight:bold;">{{ review.title|truncatechars:30 }}</a>
                    {% if review.comments.all %}
                        <a style="font-size:14px; color:#BA1626;">({{ review.comments.all|length }})</a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-sm-11 col-11" style="font-size:12px; color:grey;">
                <div style="float:left; margin-right:3px;">
                    <img src="{{ review.user.photo.url }}" class="rounded-circle" style="width:15px;">
                </div>
                <div class="dropdown" style="float:left;">
                    <a class="dropdown-toggle" id="dropdownMenuLink" data-toggle="dropdown" style="cursor:pointer;">{{ review.user.nickname }}</a>
                    {% include 'function/user_profile_modal/menu_modal.jinja' with user=review.user %}
                </div>
                <div style="float:left; margin-left:6px;">
                    | 추천<a style="color:#E23A3B; margin-left:6px;">{{ review.recommends.all|length }}</a>
                </div>
            </div>
        </div>
    </div>
</div>