<div class="modal" id="score-event" tabindex="-1" role="dialog" style="top:30%;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="padding-left:20px; font-size:18px; font-weight:bold;">
                스코어 이벤트 응모
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="font-size:15px; text-align:left; padding-left:20px; padding-right:20px;">
                응모 후에는 수정이 불가능하게 됩니다. 현재 스코어로 응모 하시겠습니까?
            </div>
            <div class="modal-footer">
                <a href="" class="btn btn-secondary" style="font-size:12px; width:80px; height:32px;" data-dismiss="modal">Close</a>
                <input class="btn btn-secondary" type="submit" href="" value="응모" style="background-color:#2d2d2d; border:1px solid #2d2d2d; color:white; font-size:12px; width:80px; height:32px;">
            </div>
        </div>
    </div>
</div>