<div class="modal" id="simple-point" tabindex="-1" role="dialog" style="top:30%;">
    <div class="modal-dialog" role="document" style="">
        <div class="modal-content">
            <div class="modal-header">
                <div style="font-size:15px; color:#2d2d2d; font-weight:bold;">알림창</div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="padding-top:5px; padding-left:15px;">
                <div class="row">
                    <div class="col-md-12" style="text-align:left; margin:10px 0 5px 0; font-size:14px; color:#2d2d2d;">
                        간단 평점을 등록하시겠습니까?<br>
                        간단 평점 등록 후에는 해당 경기의 경기 후 리뷰를 작성<br>
                        하실수 없으며, 수정 또한 불가합니다.
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="" class="btn btn-secondary" style="font-size:12px; width:80px; color:#2d2d2d; height:34px;" data-dismiss="modal">닫기</a>
                <input type="submit" href="" class="btn btn-secondary" style="cursor:pointer; border:1px solid #2d2d2d; background-color:#2d2d2d; color:white; font-size:12px; width:80px; height:34px;" value="등 록">
            </div>
        </div>
    </div>
</div>